@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: white;
  color: black;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p,
li {
  font-size: 1rem;
}

small {
  font-size: 0.875rem;
} */
