---
import SectionTitle from "./SectionTitle.astro";
---

<section id="contact" class="py-12">
  <div class="max-w-6xl mx-auto px-6">
    <SectionTitle title="Contact Us" />
    <div class="rounded-2xl border border-slate-200 bg-white p-6 shadow-sm text-center">
      <p class="text-sm md:text-md text-black">
        Please write to us in case of any queries regarding the Hackathon at:
       
      </p>
      <p class="mt-2 text-sm md:text-md text-black">
        <span class="font-semibold text-black"> Email:</span> <a
          href="mailto:contact-oshw@fossee.in"
          target="_blank"
          rel="noopener noreferrer"
          class="text-sky-600 hover:text-sky-700 underline"
        >
          contact-oshw@fossee.in
        </a>
      </p>
    </div>
  </div>
</section>
