---
import SectionTitle from "./SectionTitle.astro";

const rules = [
  "The decision of the review committee and organizers in declaring the results will be final. No queries in this regard will be entertained.",
  "The same person can not participate in more than one team.",
  "If a person is found participating in more than one team, both teams will be disqualified from the Hackathon.",
  // "Use ONLY Synfig Studio for creating animations. Create the supporting graphics, audio, etc. using only open source software. You are not allowed to use any proprietary software in your animation in any aspect. If found, you or your team will be disqualified.",
  "The accepted submissions shall be released and published under open source license in the public domain. The copyright should be transferred to the FOSSEE project.",
  "The team lead will be only one point of contact with the organizers.",
  "Any participant found to be indulging in any form of malpractice will be immediately disqualified."
];
---

<section id="rules" class="py-12 ">
  <div class="max-w-6xl mx-auto px-6">
    <SectionTitle id="rulesTitle" title="Rules and Regulations" />
    <div class="rounded-2xl border border-slate-200 bg-white p-8 shadow-sm">
   <ul class="space-y-3 text-sm md:text-md text-black">
  {rules.map((rule) => (
    <li class="flex items-start gap-3">
      <span class="mt-2 h-2 w-2 rounded-full bg-sky-500 shrink-0"></span>
      <span>{rule}</span>
    </li>
  ))}
</ul>


    </div>
  </div>
</section>
