---
const { title, id } = Astro.props;
---

<div class="flex items-center gap-4 mb-3">
  <div class="h-px flex-1 bg-slate-200"></div>
  <h2 id={id} class="text-lg md:text-2xl font-semibold text-sky-800">
    {title}
  </h2>
  <div class="h-px flex-1 bg-slate-200"></div>
</div>
