---
import "../styles/global.css";
import LogoBar from "../components/LogoBar.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const {
  title = "Open Source Hardware Hackathon 2026",
  navPosition = "sticky",
  headerOverlay = false,
} = Astro.props;

const isFixedHeader = navPosition === "fixed";
const overlayHeader = headerOverlay || isFixedHeader;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body class="bg-white text-black [--logo-bar-height:88px] [--nav-height:72px] [--header-height:calc(var(--logo-bar-height)+var(--nav-height))] md:[--logo-bar-height:120px] md:[--header-height:calc(var(--logo-bar-height)+var(--nav-height))]">
    <LogoBar />
    <Navbar
      position={navPosition}
      overlay={overlayHeader}
      offsetTop={isFixedHeader}
    />
    <slot />
<Footer />
  </body>
</html>
